

h1
{
margin-top: 0px;
width: 100%;
float: left;

}

.heading
{
    width: 100%;
    
}

 #footer{
background-color: grey;
position:fixed;
bottom: 0px;
width: 100%
 }

 canvas
 {
    border: 3px solid white;
    border-radius: 20px;
    
 }